:root {
    --back-color: #0b0013;
    --border-width: 2px;
    --boder-col: #eee;
}

body {
    margin: 0px;
    background-color: var(--back-color);
}

.header {
    float: right;
    background: #684d7c;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    max-width: 20vw;
    height: 100vh;
    margin-right: 0px;
    position: fixed;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 40px;
    padding-right: 40px;
}

li {
    list-style-type: none;
    padding: 10px;
    font-size: 30px;
    color: #ffffff;
}

.notifs {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    min-height: 100vh;
    max-height: fit-content;
    width: 60vw;
    border-left: var(--border-width) solid #eee;
    border-right: var(--border-width) solid #eee;
    background-color: rgb(32, 12, 80);
}
.notifs .notifs-header{
    padding-left: 3em;
    height: fit-content;
    border-bottom: var(--border-width) solid #eee;
    background-color: rgb(32, 12, 80);
    color: #cacaca;
}
.notif {
    display: flex;
    flex-direction: row;
    padding: 2em;
    padding-left: 5em;
    padding-right: 5em;
    height: fit-content;
    border-bottom: var(--border-width) solid #eee;
    background-color: rgb(32, 12, 80);
}

.notif .pfp {
    margin-right: 0.5em;
}

.notif .notif-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.notif .notif-content h1,
.notif .notif-content p {
    font-size: 15px;
    margin: 0px 0px 0px 0px;
    color: #cacaca;
}
.notif .notif-content h1{
    margin-bottom: 0.1em;
    font-size: 20px;
    font-weight: bold;
}
.notif .notif-content p{
    margin-left: .35em;
    margin-right: .35em;
    font-size: 18px;
}